.game-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 5px solid black;
  border-radius: 5px;
  min-height: var(--card-height);
  padding: 10px;

  &.red {
    border: 5px solid red;
  }

  &.blue {
    border: 5px solid blue;
  }
}

img {
  height: var(--card-height);
}

.card-wrapper {
  position: relative;

  &.red:after, &.blue:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.red:after {
    background-color: red;
  }

  &.blue:after {
    background-color: blue;
  }
}

.game-ended {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
}